@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-family-sans: 'Lato', sans-serif;
  --font-family-serif: 'Merriweather', Georgia, serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-family-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-serif);
}